:root {
  /* --main-color: #4a4e4d; */
  /* --main-color: #595e5d; */
  /* --main-color: #737977; */
  /* --main-color: #525554; */
  --main-color: #574e5c;
  --accent-color1: #3da4ab;
  --accent-color2: #f6cd61;
  --accent-color3: #fe8a71; 
}

body {
  background-color: var(--main-color);
}

.App {
  text-align: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr 0.25fr; 
  grid-template-rows: 0.1fr 1.5fr 1fr 0.1fr;
  grid-template-areas:
    ". . . ."
    "header curve spiral ."
    "header staff spiral ."
    ". . . .";
  background-color: var(--main-color);
  color: white;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

text, tspan {
  fill: white;
}

circle {
  stroke: white;
}

rect.cover {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.staff {
  grid-area: staff;
  width: 100%;
  height: 100%;
}

rect.chord:hover {
  opacity: 0.25;
}

.curve {
  grid-area: curve;
  width: 100%;
  height: 100%;
}

.curve path {
  stroke: white;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

circle.node {
  cursor: pointer;
}

circle.node.disabled {
  cursor: not-allowed;
  fill: white;
  opacity: 0.25;
}

rect.layer {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.spiral {
  grid-area: spiral;
  position: relative;
}

.pitch {
  font-size: 1vw;
}

.header {
  grid-area: header;
}

.transition-opacity {
  transition: opacity 0.25s ease-in-out
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in {
  animation: fadeIn 0.25s;
}

.fade-in.up {
  animation: fadeInUp 0.25s;
}

.fade-in.down {
  animation: fadeInDown 0.25s;
}

@keyframes fadeInValue {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

.fade-in-value {
  animation: fadeInValue 0.25s;
}

.arrow {
  cursor: pointer;
  fill: white;
}

.arrow.disabled {
  cursor: default;
  opacity: 0.25;
  pointer-events: none;
}

circle.color1 {
  fill: var(--accent-color1);
}

circle.color2 {
  fill: var(--accent-color2);
}

circle.color3 {
  fill: var(--accent-color3);
}


.options-right {
  transition: all 0.5s ease-in;
  overflow: hidden;
}


.scale-list {
  overflow-y: scroll;
  height: 60%;
}


.scherz {
  font-family: 'Bungee Outline';
  text-shadow: -2px 1px 3px #000;
  -webkit-text-stroke-width: 0.1px;
  font-size: 6vw;
}

.play {
  font-size: 6vw;
  cursor: pointer;
  font-family: 'Bungee Shade';
  text-shadow: 0 0 0;
}

.play:hover {
  font-family: 'Bungee Outline';
  text-shadow: -2px 1px 3px #000;
}

.rainbow-surf {
  background:linear-gradient(to right, var(--accent-color2), var(--accent-color1), var(--accent-color3));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowAnimation 2s ease-in-out infinite;
  background-size: 400% 100%;
}

.tooltiptext { 
  opacity: 0;
  position: fixed;
  top: 4%;
  left: 4%;
  height: 42vw;
  transition: opacity 0.25s ease-in-out;
  font-size: 1.5vw;
  background-color: var(--main-color);
  text-align: left;
  width: 10%;
  padding-top: 2%;
  line-height: 2vw;
  font-weight: 250;
}

.tooltiptext div {
  margin-bottom: 20%;
}

.tooltiptext:hover {
  opacity: 1;
}

@keyframes rainbowAnimation {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

.error {
  font-size: 1vw;
  position: relative;
}

.error-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}