:root {
  /* --main-color: #4a4e4d; */
  /* --main-color: #595e5d; */
  /* --main-color: #737977; */
  /* --main-color: #525554; */
  --main-color: #574e5c;
  --accent-color1: #3da4ab;
  --accent-color2: #f6cd61;
  --accent-color3: #fe8a71; 
}

.App {
  text-align: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 9fr 3fr; 
  grid-template-rows: repeat(2, auto);
  background-color: var(--main-color);
  color: white;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

canvas {
  background: var(--main-color);
  width: 100%;
  height: 100%;
}

line {
  stroke: white;
}

circle {
  stroke: white;
  fill: black;
  border: 5px;
}

canvas {
  transition: all 1s;
}
h2 {
  font-weight: 200;
  margin-bottom: 0.3em;
}

.annotate {
  fill: white;
}

.panel {
  transition: all 1s;
  align-items: center;
}

.left {
  grid-area: 2/2/3/3; 
  padding-right: 10px;
}

.right {
  grid-area: 2/3/3/4; 
}

.options-right {
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.invisible{
  opacity: 0;
  /* z-index: -1; */
}

.invisible:hover {
  z-index: -1;
}


.header {
  grid-area: 2/1/3/2; 
  font-family: 'Bungee Outline';
  text-shadow: -2px 1px 3px #000;
				  /* 1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000; */
  -webkit-text-stroke-width: 0.1px;
  /* -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black; */
  /* font-weight: bold; */
  font-size: 5vw;
  padding-left: 15px;
  padding-top: 20px;
  display: inline;
}

.play {
  font-size: 6vw;
  cursor: pointer;
}

.hype {
  font-family: 'Bungee Shade';
  text-shadow: 0 0 0;
}

.hype:hover {
  font-family: 'Bungee Outline';
  text-shadow: -2px 1px 3px #000;
}

.rainbow-surf {
  background:linear-gradient(to right, var(--accent-color2), var(--accent-color1), var(--accent-color3));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 2s ease-in-out infinite;
  background-size: 400% 100%;
}


.tooltiptext {
  opacity: 0;
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
  font-family: Sans-Serif;
  font-weight: 100;
  font-size: 1.7vw;
  background-color: var(--main-color);
  color: white;
  text-align: left;
  text-shadow: 0 0 0;
  width: 12%;
}

.rainbow-surf:hover .tooltiptext {
  opacity: 1;
}

@keyframes rainbow_animation {
  0%,100% {background-position: 0 0;}
  50% {background-position: 100% 0;}
}

.label {
  font-size: 25px;
  font-weight:100;
}
.note-label {
  /* font-size: 4vw; */
  font-size: 1.5vw;
  font-weight: 100;
}

.marker {
  position: absolute;
  top: -10px;
  left: -5px;
  z-index: 0;
}

.note {
  position: absolute;
  z-index: 1;
  font-size: 1vw;
}

#options-div {
  /* height: 100%;
  border-left: 0.5px groove white;
  padding-top:20px;
  padding-left: 5px; */
  /* padding-right: 15px; */
  font-size: 1.5vw;
  /* transition: 3s; */
  border-left: 0.5px groove white;
  padding-top: 10%; 
  height: 100%;
  transition: all 1s;
}

.shift-off {
  /* display: none; */
  transform: translate(150%);
  
}

.options {
  border-radius: 10px;
  font-size: 1.5vw;
  width: 40%;
  text-align: center;
  
}


input.checkbox {
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  order: 4;
  outline: none;
  counter-increment: undone-items;
}

input:checked {
  order: 2;
  counter-increment: done-items;  
}

label {
  display: block;
  position: relative;
  padding: 4px 0 0px 0px;
  /* border-top: 1px dashed #fff; */
  order: 4;
  cursor: pointer;
  animation: undone .5s;
}

label::before {
  content: '\f10c'; /* circle outline */
  display: block;
  position: absolute;
  top: 5px;
  left: 25%;
  font: 1em 'FontAwesome';
}

input:checked + label::before {
  content: '\f058'; /* circle checkmark */
  /* color: var(--accent-color3) */
}


/* input[type="checkbox"] {
  transform: scale(0.8);
} */
input[type=text], textarea {
  /* -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; */
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: inset 0 0 2px var(--accent-color1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid var(--accent-color1);
} 

/* /* input {
  border-radius: 25px;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
