.App {
  text-align: center;
  overfow: hidden;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.panel {
  align-items: center;
  flex: 2;
  /* display: flex; */
  flex-direction: column;
}

.left {
  flex: 4;
}

.header {
  /* align-items: flex-start; */
  align-items: stretch;
  flex: 0.3;
  display: flex;
  flex-direction: row;
  font-size: 4.5vw;
  padding-left: 10px;
}

.note-label {
  font-size: 1vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
