body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: #574e5c;
  --accent-color1: #3da4ab;
  --accent-color2: #f6cd61;
  --accent-color3: #fe8a71; 
}

body {
  background-color: var(--main-color);
  font-size: 1.75vh;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr 1.6fr; 
  grid-template-rows: 0.1fr 0.1fr 0.15fr 1.5fr 0.1fr 1fr 0.1fr;
  grid-column-gap: 1.5%;
  grid-template-areas:
    ". . . ."
    "header scales spiral ."
    "header forces spiral ."
    "header curve spiral ."
    "header scroll spiral ."
    "header staff spiral ."
    ". . . .";
  background-color: var(--main-color);
  color: white;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  transition: all;
}

@media (max-width: 1200px) {
  .App {
    grid-template-columns: 0.75fr 5fr 0fr;
  }
}

text, tspan {
  fill: white;
}

circle {
  stroke: white;
}

.transition-opacity {
  transition: opacity 0.25s ease-in-out;
}

.transparent {
  opacity: 0.5;
  pointer-events: none;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.spiral.transparent {
  pointer-events: all !important;
}

.arrow {
  cursor: pointer;
  opacity: 0.75;
}

.arrow:hover {
  opacity: 0.85;
}

.disabled {
  opacity: 0.25 !important;
  pointer-events: none !important;
}

.disabled-cursor {
  opacity: 0.25 !important;
  cursor: not-allowed !important;
}

@keyframes swipeLeft {
  from {
    transform: translate(15vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes swipeRight {
  from {
    transform: translate(-15vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.swipe.left {
  animation: swipeLeft 0.15s linear;
}

.swipe.right {
  animation: swipeRight 0.15s linear;
}

.staff {
  grid-area: staff;
  width: 100%;
  height: 100%;
}

rect.chord {
  opacity: 0;
  cursor: pointer;
}

rect.chord:hover, rect.chord.on-beat {
  opacity: 0.25;
}

.forces {
  grid-area: forces;
}

.curve {
  grid-area: curve;
  width: 100%;
  height: 100%;
}

.curve path {
  stroke: white;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

circle.node {
  cursor: pointer;
}

circle.node.disabled-cursor {
  fill: white;
}

.add-force, .remove-force {
  text-anchor: middle;
  cursor: pointer;
}

linearGradient stop {
  stop-color: var(--main-color);
}

rect.layer {
  width: 100%;
  height: 100%;
  opacity: 0;
}

rect.cover {
  fill: var(--main-color);
}

rect.left-gradient {
  fill: url(#left-gradient);
}

rect.right-gradient {
  fill: url(#right-gradient);
}

.controls {
  grid-area: controls;
}

.scroll {
  grid-area: scroll;
}

.spiral {
  grid-area: spiral;
}

.header {
  grid-area: header;
  justify-self: center;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.scales {
  grid-area: scales;
  margin-bottom: 0.25vw;
  padding-bottom: 0.25vw;
}

.heading.scales {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.multiselect {
  position: relative;
  display: flex;
  margin-left: 0.25vw;
}

.multiselect .options {
  position: absolute;
  width: 10vw;
  padding-left: 1.5vw;
  background-color: rgba(87,78,92, 0.75);
  z-index: 1;
}

.multiselect .options .option {
  opacity: 0.5;
  cursor: pointer;
}

.multiselect .options .option:hover:not(.disabled) {
  opacity: 0.75;
}

.multiselect .options .option.selected {
  opacity: 1 !important;
}

.dropdown {
  cursor: pointer;
  margin-right: 0.5vw;
  transition: transform 0.1s;
  z-index: 2;
}

.dropdown.open {
  transform: rotate(-90deg) translateY(0.05vw);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, -5vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, 5vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in {
  animation: fadeIn 0.25s;
}

.fade-in.up {
  animation: fadeInUp 0.25s;
}

.fade-in.down {
  animation: fadeInDown 0.25s;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scaleY(0.85);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.fade-in.options {
  animation: fadeInScale 0.25s;
  transform-origin: top;
}

.scherz {
  font-family: 'Bungee Outline';
  text-shadow: -2px 1px 3px #000;
  -webkit-text-stroke-width: 0.1px;
  font-size: 10vh;
}

.play {
  font-size: 10vh;
  cursor: pointer;
  font-family: 'Bungee Shade';
  text-shadow: 0 0 0;
}

.play:hover {
  font-family: 'Bungee Outline';
  text-shadow: -2px 1px 3px #000;
}

@keyframes rainbowAnimation {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

.rainbow-surf {
  background:linear-gradient(to right, var(--accent-color2), var(--accent-color1), var(--accent-color3));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbowAnimation 2s ease-in-out infinite;
  background-size: 200% 100%;
}

.tooltiptext {
  opacity: 0;
  position: fixed;
  top: 0%;
  left: 2.5%;
  height: 75vh;
  font-size: 2.4vh;
  background-color: var(--main-color);
  text-align: left;
  width: 10%;
  padding-top: 2%;
  line-height: 3.6vh;
  font-weight: 250;
}

.tooltiptext div {
  margin-bottom: 20%;
}

.tooltiptext .love {
  font-size: 2vh;
  line-height: 2vh;
}

.tooltiptext .love a {
  text-decoration: none;
  color: var(--accent-color1);
}

.tooltiptext:hover {
  opacity: 1;
}

@media (max-width: 1000px) {
  .scherz {
    font-size: 6vw;
  }
  .play {
    font-size: 6vw;
  }
  .tooltiptext {
    top: 1.5%;
    height: 45vw;
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .tooltiptext .love {
    font-size: 1vw;
    line-height: 1vw;
  }
}

.play-modes {
  font-size: 2.5vw;
  display: flex;
  justify-content: space-between;
  width: 5.5vw;
}

.play-modes.hidden {
  pointer-events: initial !important;
}

.play-modes span {
  font-weight: lighter;
  opacity: 0.5;
  cursor: pointer;
}

.play-modes span:hover {
  opacity: 0.75;
}

.play-modes span.selected {
  opacity: 1;
}

.play-modes .loop.selected {
  font-weight: bold;
}

.play-modes .infinite.selected {
  font-weight: normal;
}